In [ ]:
#데이터 불러오기
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
filname='/content/drive/My Drive/titanic.xls'
titanic_pd=pd.read_excel(filname)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
titanic_pd.head()

   pclass  survived  ...                        home.dest gender
0       1         1  ...                     St Louis, MO      0
1       1         1  ...  Montreal, PQ / Chesterville, ON      1
2       1         0  ...  Montreal, PQ / Chesterville, ON      0
3       1         0  ...  Montreal, PQ / Chesterville, ON      1
4       1         0  ...  Montreal, PQ / Chesterville, ON      0

[5 rows x 15 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(titanic_pd['sex'])
titanic=titanic_pd
titanic['gender']=le.transform(titanic['sex'])
titanic.head()
titanic=titanic[titanic['age'].notnull()]
titanic=titanic[titanic['fare'].notnull()]

In [ ]:
x=titanic[['pclass','age','sibsp','parch','fare','gender']]
y=titanic['survived']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=13)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
log_reg=LogisticRegression(random_state=13,solver='liblinear')
lab=preprocessing.LabelEncoder()
train_y=lab.fit_transform(y_train)
log_reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=13, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
print(x.shape)
print(y.shape)

(1045, 6)
(1045,)

In [ ]:
from sklearn.metrics import accuracy_score
pred=log_reg.predict(x_train)
accuracy_score(y_train,pred)

0.7906698564593302

In [ ]:
pred=log_reg.predict(x_test)
accuracy_score(y_test,pred)

0.7511961722488039

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(x)
x_ss=ss.transform(x)
x_train,x_test,y_train,y_test=train_test_split(x_ss,y,test_size=0.2,random_state=13)
log_reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=13, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred=log_reg.predict(x_train)
print(accuracy_score(y_train,pred))
pred=log_reg.predict(x_test)
print(accuracy_score(y_test,pred))

0.7930622009569378
0.7559808612440191

In [ ]:
from sklearn.tree import DecisionTreeClassifier
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=13)
tree_clf=DecisionTreeClassifier(max_depth=2,random_state=13)
tree_clf.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=13, splitter='best')

In [ ]:
pred=tree_clf.predict(x_train)
print(accuracy_score(y_train,pred))
pred=tree_clf.predict(x_test)
print(accuracy_score(y_test,pred))

0.7942583732057417
0.7559808612440191